    /* Estilo para el formulario */
    form {
        width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        align-items: center;
        margin-bottom: 5rem;
    }

    /* Estilo para las etiquetas de los campos */
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    /* Estilo para los campos de entrada de texto */
    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Estilo para el botón de enviar */
    input[type="submit"] {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #30a136;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 17rem;
        margin-right: 1rem;
    }

    /* Estilo para el botón de enviar al pasar el cursor */
    input[type="submit"]:hover {
        background-color: #407a43;
    }