/* Estilos del login */

* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #542c2ca6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;
}

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(239, 235, 235)
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: rgb(34, 34, 34);
	color: #fff;
	width: calc(80% - 40px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	cursor: pointer;
	
}

a{
	color: #fff;
	display: inline-block;
	transition: transform 0.3s ease;
}

a:hover{
	color: #14ae54;
	transform: scale(1.2);
}

.animated-button{
	display: inline-block;
	transition: transform 0.3s ease;
}


.animated-button:hover {
	/* Estilos al pasar el cursor por encima */
	background-color: #14ae54; /* Cambia el color de fondo */
	transform: scale(1.1); /* Aplica una escala del 110% */
}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
.off{
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgb(0, 0, 0);
	color: #fff

}
body{
	background-image:url(../IMG/joandjudy_wallpaper_2305.jpg);
	width: 100%;
	height:100%vh;
	background-size: cover;
	color:white;
	
}


